[user]
	email = masato.ngsm@gmail.com
	name = masato
[core]
	editor = code --wait
[credential]
	helper = "!f() { /root/.vscode-server/bin/507ce72a4466fbb27b715c3722558bb15afa9f48/node /tmp/vscode-remote-containers-54b9f9986db793294762ec428b1dabd134f2ffea.js $*; }; f"
