[user]
	email = masato.ngsm@gmail.com
	name = masato
[core]
	editor = code --wait
[credential]
	helper = "!f() { /root/.vscode-server/bin/c3f126316369cd610563c75b1b1725e0679adfb3/node /tmp/vscode-remote-containers-bd2b5da5fe345e7304aaa9a6762e67729cd1e743.js $*; }; f"
